@import '../../Palette.css';

.ToggleButton,.ToggleButtonOn{
    font-family: NeonLand;
    font-weight:lighter;
    font-size: 80%;
    position:relative;
    border:none;
    min-width: fit-content;
    height: fit-content;
    padding: 0.8em;
    color: violet;
    transition: all 0.7s;
    cursor: pointer;
}
.ToggleButton{
    outline: 0.1em solid transparent;
    border-radius: 0.3rem;
    background-color: var(--buttonOff-color);
    z-index: 0;
}

.ToggleButton:hover{
    
    background-color: var(--buttonHover-color);
}

.ToggleButtonOn{
    position:relative;
    border:none;
    outline: 0.1em solid var(--buttonOnOutline-color);
    border-radius: 0.3rem;
    background-color: var(--buttonOn-color);
    box-shadow: 0 0 1em 10px var(--buttonShadow-color);
    color: white;
    z-index: 10;
}





.RadioButtonList{
    position: relative;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    flex-wrap: nowrap;
}