.MediaCarouselWrapper{
    max-width:600px;
    min-height: 60%;
    width:100%;
    margin: 0.5em;
}
.MediaCarousel{
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding:0.2em;
    background-color: var(--pane-color);
    border-radius: 0.2em;
    overflow-x: hidden;
}
.ProjectListWrapper{
    display: flex;
    flex-direction: row;
    transform-origin: center;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}
.ProjectListWrapper>div>button{
    max-width: none;
    width: 100%;
}
.MediaCarousel::-webkit-scrollbar{
    display: none;
}
.CarouselButton{
    position: sticky;
    transform-origin: center;
    top:40%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    max-height: 8em;
    z-index: 4;
}
.Left{
        left: 0.5em;
}
.Right{
        right: 0.5em;
}