.MediaCarouselWrapper{
    max-width:600px;
    min-height: 60%;
    width:100%;
    margin: 0.5em;
}
.MediaCarousel{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding:0.2em;
    background-color: var(--pane-color);
    border-radius: 0.2em;
    overflow-x: hidden;
}
.ProjectListWrapper{
    display: flex;
    flex-direction: row;
    transform-origin: center;
    justify-content: space-evenly;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding:0.5em;
    overflow-x: scroll;
}
.ProjectListWrapper>div>button{
    max-width: none;
    width: 90%;
}
.ProjectListWrapper>div{
    width: fit-content;
    margin: 0;
}
.MediaCarousel::-webkit-scrollbar{
    display: none;
}
.ProjectListWrapper>div:hover,.ProjectListWrapper>div:focus{
    transform: scale(105%,105%);
}
.CarouselButton{
    position: relative;
    transform-origin: center;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    height: 45%;
    z-index: 4;
}
.Left{
        left: 0.5em;
}
.Right{
        right: 0.5em;
}