@import '../Palette.css';
@import './Reusable/Animations.css';


@media only screen and (max-width:400px) {
    .AppHeader{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width:900px) {
    .AppHeader{
        display: flex;
        flex-direction: row;
    }
}

.App{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0.5em;
    height: 95vh;
    animation: fadeIn 0.9s ease-in-out forwards;
    font-size: 150%;
}
.AppHeader{
    height: fit-content;
    justify-content: space-between;
    margin:0;
    animation: FadeInUD 0.7s ease-in-out forwards;
    padding: 0.5em;
}

.HeaderTitle{
    width: fit-content;
    height: fit-content; 
    margin:0;
    color: var(--buttonOff-color);
    vertical-align: middle;
    transition: all 0.6s;
}
.HeaderTitle:hover{
    color:var(--buttonOn-color);
    text-shadow: 0 0 1em var(--buttonOn-color);
}
.FeedContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--primary-color);
    color: var(--buttonOnOutline-color);
    flex: 3;
    padding: 0.5em;
    border-radius: 0.2em;
    backdrop-filter:blur(1rem);
}
footer{
    flex: 0;
    padding:0.5em;
    background-color: var(--primary-color);
    margin: 0;
    margin-top: 0.2em;
    border-radius: 0.2em;
}

.AppHeader>div>button{
    border-radius: 0;
}

.AppHeader>div>button:first-child{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.AppHeader>div>button:last-child{
    
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}



