@import '../../../Palette.css';
@media only screen and (max-width:400px) {
    .FeedHeader{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width:900px) {
    .FeedHeader{
        display: flex;
        flex-direction: row;
    }
}
.FeedHeader{
    justify-content:left;
    vertical-align: middle;
    flex-wrap: nowrap;
    min-width: fit-content;
    max-width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    margin:0.2em;
    transition: all 0.7s ease-in-out;
}
.FeedName{
    display: inline;
    width: fit-content;
    min-width: 12%;
    height: fit-content;
    margin: 0;
    transition: all 0.7s;
}