.MiniNavContainer{
    /* animation: shrink 0.7s ease-in-out reverse; */
    position:relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s;
    animation: grow 0.7s forwards;
}
@keyframes shrink {
    0%{
        width: 20%;
    }
    100%{
        width: 18%;
    }
}
@keyframes grow {
    0%{
        width: 18%;
    }
    100%{
        width: 20%;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

.Dock{
    animation: shrink 0.7s forwards;
}

.MiniNavTitle{
    margin: 0;
}


.MiniNavContainer > div{
    display: flex;
    animation: fadeIn 0.7s ease-in-out forwards;
}

.MiniNavContainer>div>button{
    border-radius: 0;
    font-size: 70%;
    transition: all 0.7s;
}

.MiniNavContainer>div>button:first-child{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.MiniNavContainer>div>button:last-child{
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.Dock >div{
    animation: fadeOut 0.7s forwards;
    pointer-events: none;
}

.Dock >button{
    opacity: 30%;
}

.Dock >button:hover{
    opacity: 100%;
}